<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
      <%- include('./partials/header.ejs') %>

      <section class="flex-container">
        <h3>Your Creations</h3>
        <div class="all-drinks">
          <% for(let i = 0; i < coffee.length; i++) { %>
            <div class="coffee-container">
              <a class="show-link" href="/coffee/usercreations/<%= coffee[i].id%>">
              <h4 class="show-link"><%= coffee[i].name %></h4>
              </a>
              <% if (coffee[i].type === "Hot" || coffee[i].type === "hot") { %>
                <img src="/images/hot-coffee.jpg" alt="">
              <%}else if (coffee[i].type === "Iced" || coffee[i].type === "iced") { %>
                <img src="/images/iced-coffee.jpg" alt="">
              <%} %>
              <div class="coffee-buttons">
                <a class="edit-link" href="/coffee/<%=coffee[i].id%>/edit">EDIT</a>
                <form action="/coffee/usercreations/<%= coffee[i].id %>?_method=DELETE" method="POST">
                    <input class="delete-button" type="submit" value="DELETE">
                </form>
              </div>
            </div>
          <% } %>
        </div>
      </section>
      <div class="logout-container">
        <form class="" action="/logout?_method=DELETE" method="POST">
          <button class="logout-button" type="submit">Log Out</button>
        </form>
      </div>
    <footer>
      <%- include('./partials/footer.ejs') %>
    </footer>
    <a class="attr" href='https://pngtree.com/so/Brown'>Brown png from pngtree.com/</a>
  </body>
</html>
