<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
      <%- include('./partials/header.ejs') %>

      <section class="flex-container">
        <h3>Your Creations</h3>
        <div class="all-drinks">
          <% for(let i = 0; i < coffee.length; i++) { %>
            <div class="coffee-container">
              <a href="/coffee/usercreations/<%= coffee[i].id%>">
              <h4><%= coffee[i].name %></h4>
              </a>
              <div class="coffee-buttons">
                <a class="edit-link" href="/coffee/<%=coffee[i].id%>/edit">EDIT</a>
                <form action="/coffee/usercreations/<%= coffee[i].id %>?_method=DELETE" method="POST">
                    <input class="delete-button" type="submit" value="DELETE">
                </form>
              </div>
            </div>
          <% } %>
        </div>
      </section>
    <footer>
      <%- include('./partials/footer.ejs') %>
    </footer>
    <a class="attr" href='https://pngtree.com/so/Brown'>Brown png from pngtree.com/</a>
  </body>
</html>
